.css-1mxz8qt-MuiPaper-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: none !important;
  width: 100%;
  margin-bottom: 16px;
}

.css-2pbtu6-MuiTypography-root {
  margin: 0;
  font-family: "ProximaNovaSoft-Regular" !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.container {
  padding-left: 13px;
  padding-bottom: 3rem;
}

.MuiTypography-root {
  margin-top: 1px !important;
}